body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f2f2f2;
  color: #343330;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column; /* ça place le titre au-dessus du formulaire */
  align-items: center;
  padding-top: 120px; /* padding top augmenté pour header fixe et menu burger */
}

/* conteneur du formulaire */
.seconnecter {
  width: 100%;
  max-width: 420px;
}

/* bloc connexion/inscription */
.connexion,
.inscription {
  background-color: #ffffff;
  padding: 40px;
}

h1 {
  font-family: 'Trade Winds', cursive;
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: 50px;
}

/* h2 titres des formulaires */
h2 {
  color: #343330;
  text-align: center;
  margin-bottom: 20px;
}

p {
  font-size: 0.9rem;
  margin-bottom: 6px;
}

/* champs de formulaire */
input {
  width: 100%;
  padding: 12px;
  margin-bottom: 22px;
  border: none;
  background-color: #f5f5f5;
  font-size: 0.9rem;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #343330;
  color: white;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
}
button:hover {
  background-color: #EA6B38;
}

/* lien vers inscription/connexion */
.pascompte {
  margin-top: 25px;
  text-align: center;
  font-size: 0.85rem;
}

.pascompte a {
  color: #EA6B38;
  text-decoration: none;
}

.pascompte a:hover {
  text-decoration: underline;
}

/* la largeur des champs va jusqu’au bouton se connecter/s'inscrire */
input,
button {
  box-sizing: border-box;
}

/* Menu burger pour la version mobile responsive */

.burger {
  display: none;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
}

.burger span {
  width: 25px;
  height: 3px;
  background: #000;
  border-radius: 2px;
}

/* media queries qui permettent le responsive */

@media (max-width: 700px) {

    .burger {
      display: flex;
      position: absolute;
      top: 25px;
      right: 20px;
    }

    /* menu qui est caché de base */
    nav {
      display: none;
      position: absolute;
      top: 80px;
      left: 0;
      width: 100%;
      background: #ffffff;
      flex-direction: column;
    }

    /* Menu visible quand le js ajoute .open */
    nav.open {
      display: flex;
    }

    nav ul {
      flex-direction: column;
      gap: 10px;
      padding: 10px 20px;
    }

    .menu-deroulant-menu {
      display: none;
      flex-direction: column;
      padding-left: 10px;
    }
}
