/* ÉLÉMENTS RÉCURRENTS (SÉPARATEURS, BANNIÈRES) */
.section-bannière {
    position: relative;
    overflow: hidden;
    margin-bottom: 3rem;
}

.section-bannière img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
}

.section-bannière h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Trade Winds";
    font-size: 3rem;
    font-weight: 1000;
    color: white;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    text-align: center;
}

.separateur-droite {
    height: 6px;
    margin: 30px 0;
    width: 70%;
    margin-left: auto;
    background: linear-gradient(to right, #ffffff, #EA6B38);
}

.separateur-gauche {
    height: 6px;
    background: linear-gradient(to right, #EA6B38, #ffffff);
    margin: 30px 0;
    width: 70%;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #FFFFFF;
  color: #343330;
  line-height: 1.6; 
}

.container {
  max-width: 1100px;
  /* margin: 0 auto; centre horizontalement */
  margin: 100px auto 0 auto;
  padding: 50px 20px; /* espace intérieur */
}

h1 {
  font-family: 'Trade Winds', cursive;
  font-size: 3rem;
  margin-bottom: 30px;
}

h2 {
  font-size: 1.6rem;
  color: #EA6B38;
  margin-bottom: 20px;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.intro {
  margin-bottom: 80px;
}

.service {
  margin-bottom: 80px;
}

.service p {
  margin-bottom: 16px;
}

.service ul {
  margin-left: 20px; /* décale la liste vers la droite */
  margin-bottom: 16px;
}

/* vidéos youtube affichées côte à côte */
.videos {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.videos iframe {
  width: 100%;
  height: 250px;
  border: none;
}

.service a {
  color: #EA6B38; 
  text-decoration: none;
}

.service a:hover {
  text-decoration: underline;
}

